
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
button {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1366px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 50px;
    font-size: 30px;
}

form input {
    display: block;
    margin: 0 auto;
}

form input,
form button{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

form button {
    background-color: #2FCC71;
    font-size: 18px;
    text-transform: uppercase;
}

form button:hover {
    background-color: #35e96b;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: #888;
}

#task-list {
    list-style-type: none;
    cursor: pointer;
}