
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
button {
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 30px;
}

form input {
    display: block;
}

form input,
form button{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

form button {
    background-color: #2FCC71;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
}

form button:hover {
    background-color: #35e96b;
}

.container form label {
    justify-content: flex-start;

}

form label {
    display: block;
    margin-top: 10px;
}

.error{
    color: red;
    font-size: 14px;
}
