/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- Cabeçalho ----- */

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

header .container{
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header li a {
    color: #f5f6fa;
    margin-left: 16px;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

/* ----- Main ----- */

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    text-align: center;
}

#noticias-principais .articles article img {
    height: 155px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, 
.articles article {
    margin: 16px 0;
}

.articles article h3 {
    margin: 8px 0;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#noticias-principais {
    background-color: rgba(0, 255, 0, 0.1);
}

#noticias-principais .articles article a {
    background-color: #009432;
}

#analises {
    background-color: rgba(238, 63, 50, 0.1);
}

#analises .articles article a {
    background-color: #e41912;
}

#dicas {
    background-color: rgba(194, 221, 95, 0.1);
}

#dicas .articles article a {
    background-color: #e4c412;
}

#eventos {
    background-color: rgba(95, 145, 221, 0.1);
}

#eventos .articles article a {
    background-color: #12cbe4;
}

/* ----- footer ----- */

footer p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}